<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Hello {{ name }}</h1>
  <!-- Un bouton -->
  <ion-button color="{{ preferedColor }}" 
              class="rounded-button"
              (click)="showHideList()">
    {{ isListHidden ? 'Afficher la liste' : 'Masquer la liste' }}
  </ion-button>
  <!-- Un autre bouton -->
  <ion-button [color]="preferedColor" expand="block" routerLink="/form">
    <ion-icon name="alarm" slot="end"></ion-icon>
    formulaire
  </ion-button>
  <!-- Encore un bouton -->
  <ion-button color="danger">
    <ion-icon name="alarm" slot="icon-only"></ion-icon>
  </ion-button>

  <!-- Une liste -->
  <ion-list [hidden]="isListHidden">
    <ion-list-header>Pays</ion-list-header>

    <ion-item *ngFor="let country of countryList">

      <ion-avatar slot="start">
        
        <ion-img  src="/assets/{{ country.flag }}"
                  *ngIf="country.flag" >
        </ion-img>
      </ion-avatar>

      <ion-label>
        {{country.name}}
        <p>{{ country.mainCity }}</p>
      </ion-label>

      <ion-chip slot="start">{{ country.population }}</ion-chip>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Mon pied d'écran
    </ion-title>
  </ion-toolbar>
</ion-footer>