<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Hello</h1>
  <ion-button color="warning" class="rounded-button">mon bouton</ion-button>
  <ion-button color="danger" expand="block">
    <ion-icon name="alarm" slot="end"></ion-icon>
    réveil
  </ion-button>

  <ion-button color="danger">
    <ion-icon name="alarm" slot="icon-only"></ion-icon>
  </ion-button>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Mon pied d'écran
    </ion-title>
  </ion-toolbar>
</ion-footer>
